*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container{
    height: auto;
    background-color: aqua;
   
}
#main_heading{
    padding-top: 30px;
    text-align: center;
}
.secondary_container{
    display: flex;
    height: 95vh;
}
.left_container{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
    gap: 20px;

}
.input_field{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}
#submit{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    align-self: center;
}
#submit:hover{
    background-color: #546454;
    box-shadow: 5px 5px 20px #546454;
}
.right_container{
    height: 100%;
    width: 50%;
    background-color: black;
}