*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container{
    height: auto;
    background-color: aqua;
}
.secondary_container{
    display: flex;
   
    background-color: red;
    height: 100vh;
}
.left_container{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right_container{
    height: 100%;
    width: 50%;
}