*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main_container{
    height: 100vh;
    background-color: aqua;
   
}
#main_heading{
    padding-top: 30px;
    text-align: center;
}
.secondary_container{
    display: flex;
    margin-top: 40px;
    height: 80vh;
}
.left_container{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#form{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
    gap: 20px;

}
.input_field{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}
#submit{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color:rgb(17, 184, 17) ;
    align-self: center;
}
#submit:hover{
    
    box-shadow: 3px 3px 10px rgb(17, 184, 17);
}

.right_container{
    width: 70%;
    
    display: flex;
    justify-content: center;
    align-items: self-start;
}
table{
    width: 90%;
    margin: 10px;
    
    padding: 20px;
}
th {
    background-color: #04AA6D;
    color: white;
    padding: 15px;
}
tbody{
    
    text-align: center;
    background-color: aquamarine;
}
tbody tr{
    margin: 10px;
}
tbody tr:hover {
    background-color: coral;
}
tbody tr td{
    padding: 10px;
}
tbody tr span{
    font-size: 30px;
    cursor: pointer;
    padding: 2px;
    background-color:rgb(17, 184, 17) ;

}
tbody tr span:hover{
    box-shadow: 3px 3px 10px rgb(17, 184, 17);

}

tbody tr button{
    font-size: 20px;
    border: none;
    background-color:rgb(17, 184, 17) ;
    
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

tbody tr button:hover{
    box-shadow: 3px 3px 10px rgb(17, 184, 17);
    
}